.menu {
    position: absolute;
    top: 0;
    width: 100vw;
    height: auto;
    display: block;
    padding: 1rem;
    box-shadow: 0 0px 5px 0px #484747a3;
    font-family: "Varela Round", "Fuggles", cursive;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    text-shadow: -1.4px 1px 1px red;
}
.center {
    text-align: center;
    width: 100%;
}
