.center {
    text-align: center;
}
.navbar {
    background-color: rgb(136, 136, 218);
    height: 70px;
    width: 100%;
}
.vertical-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    width: 100%;
}
.navbar_inner {
    display: block;
    width: 100%;
}
.navbar_inner > .nav-header {
    display: inline;
    float: left;
}
.navbar_inner > .navbar_links {
    display: inline;
    float: right;
}
.navbar_inner > .nav-header,
.navbar_inner > .navbar_links {
    padding: 12px 50px;
}
ul {
    color: red;
}
