* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.link {
  text-decoration: none;
  margin: 2px;
  color: black;
}

.linkView {
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  padding: 2px;
  margin: 2px 5px;
  width: 35px;
  color: black;
  font-size: larger;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}
